{% extends "base.html" %}
{% block meta %}
<meta name="keywords" content="Freelance Web Designer, Freelance, Tasarım, Web Tasarımı, CSS, XHTML, Fireworks, Dreamweaver, Photoshop, Flash,  Banner, Kartvizit, Mailing Tasarımı, SEO" /> 
<meta name="description" content="Yasin YAMAN'nın freelance web tasarım alanındaki becerilerini duyurma çabası ile oluşturduğu kişisel site." />
{% endblock %}
{%block baslik%}Sipariş Formu{%endblock%}
{% block main %} 
<center>
<h1>Sipariş Formu</h1>
<form action="" method="post">
<table>
<font size="1">{{form}}</font>
</table>
<font size="1"><input type="submit" value="Gönder" /> </font>
</form>
</center>
{% endblock %}
