<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>.:: Yasin YAMAN  ::  Freelancer Web Designer // Freelance  Web Tasarımcı // {% block baslik %}{% endblock %} ::.</title>
{% block meta %}{% endblock %}
<meta name="robots" content="INDEX,FOLLOW" /> 
<meta name="googlebot" content="NOODP" /> 
<meta name="revisit-after" content="1 Days" /> 
<meta name="rating" content="General" /> 
<meta name="distribution" content="GLOBAL" /> 
<meta name="copyright" content="www.yasinyaman.com" />
<meta name="google-site-verification" content="gSadjTBOCdXCu0Bv0vOH4OJpmUvvzQ4OZmiDFUZX0Ww" />
<link rel="alternate" type="application/rss+xml" title="yasinyaman.com Mini Blog RSS Feed" href="/blogsrss/"/>
<link rel="Shortcut Icon" href="/static/mascot.ico"></link>
<link href="/static/stil.css" rel="stylesheet" type="text/css" />

{% block css %}{% endblock %}
{% block javasc %}{% endblock %}

<style type="text/css">
<!--
.style1 {font-size: 16px}
-->
</style>
</head>

<body>
<div class="page-body">
<table width="996" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
<td height="86" colspan="3" class="banner_" style="border-bottom:#666 thin"><a href="/anasayfa/" title="www.yasinyaman.com"><img src="/static/images/log2.png"/></a></td>
  </tr>
<tr>
<td colspan="3" >&nbsp;</td>
 </tr>
  <tr>
    <td width="786" height="%100" class="metin"><table width="785" height="%100" border="0" cellpadding="0" cellspacing="0">
      <tr valign="bottom">
        <td height="%100" colspan="6"  valign="top" {% block clas %}{% endblock %}>
{% block main %}{% endblock %}
</td>
      </tr>
    </table></td>
    <td width="10" class="metin">&nbsp;</td>
    <td width="200" align="left" valign="top"><table width="200" border="0" cellpadding="0" cellspacing="0" >
      <tr>
        <td><a href="/anasayfa/" title="Anasayfa"><img src="/static/images/ana.png" width="158" height="50" alt="Anasayfa" /></a></span></td>
      </tr>
      <tr>
      <td >..................................................................</td>
      </tr>
      <tr valign="bottom">
        <td height="46"><a href="/hakkimda/" title="Hakkımda"><img src="/static/images/hakkimda.png" width="158" height="39" alt="hakkımda" /></a></td>
      </tr>
      <tr>
        <td>..................................................................</td>
      </tr>
      <tr valign="bottom">
        <td height="41"><a href="/portfolyo/" title="Portfolyo"><img src="/static/images/portfolyo.png" width="158" height="35" /></a></td>
      </tr>
      
      <tr>
        <td >..................................................................</td>
      </tr>
      <tr>
        <td height="45"><a href="/iletisim/" title="İletişim"><img src="/static/images/iletisim.png" width="137" height="34" /></a></td>
      </tr>
      <tr valign="top">
        <td>..................................................................</td>
      </tr>
      <tr>
        <td height="46"><a href="/siparis/" title="Sipariş Formu"><img src="/static/images/siparis_form.png"/></a></td>
      </tr>
      <tr valign="top">
        <td>..................................................................</td>
      </tr>
      <tr>
        <td height="46"><a href="/blogs/" title="MiniBlog"><img src="/static/images/blog.png"/></a></td>
      </tr>
      <tr valign="top">
        <td>..................................................................</td>
      </tr>
	        <tr>
        <td height="46"><a href="/ttk_internet_sitesi" title="Yeni Türk Ticaret Kanunu ile web sitesi zorunluluğu getirildi."><img src="/static/images/ttk.png"/></a><br /><center><img src="/static/531993.png"/></center></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="13" colspan="3"></td>
  </tr>
  <tr >
    <td height="13" colspan="3" align="left" ><table width="996" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="441" title="Yasin YAMAN Freelancer Web Tasarım & Programlama">© 2010 The Web Design & Programing Yasin YAMAN</td>
        <td width="555" align="right"><a href="/anasayfa/" title="Anasayfa">anasayfa</a> / <a href="/hakkimda/" title="Hakkımda"> hakkımda</a> / <a href="/portfolyo/" title="Portfolyo">portfolyo</a> / <a href="/iletisim/" title="İletişim"> iletişim</a> / <a href="/siparis/" title="siparis formu">siparis formu</a> / <a href="/blogs/" title="MiniBlog">mini blog</a></td>
      </tr>
    </table></td>
  </tr>
  <tr valign="top" >
    <td height="2" colspan="3">..........................................................................................................................................................................................................................................................................................................................................</td>
  </tr>
   <tr valign="top" >
   <td height="2" colspan="3"><center>
     <table width="967" height="19" border="0"  cellpadding="0" cellspacing="0">
       <tr>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td width="468" rowspan="2" align="center" >
<a href="http://www.yazki.com" target="_blank" title="www.yazki.com - Açık Kaynak Kodlu Teknolojiciler Topluluğu"><img src="/static/images/yazki.png"/></a>
<a href="http://www.debian.org" target="_blank" title="Debian - The Universal Operating System"><img src="/static/images/debian.jpg"/></a>
<a href="http://www.djangoproject.com" target="_blank" title="Django"><img src="/static/images/django.png"/></a>
<a href="http://www.python.org" target="_blank" title="Python"><img src="/static/images/python.png"/></a>
<a href="http://www.iglon.com" target="_blank" title="Iglon Web Studio"><img src="/static/images/iglon.png"/></a>

</td>
         <td width="90" rowspan="2" align="center"> <img src="/static/lkd.png" /></td>
       </tr>
       <tr>
         <td width="152"><h3 title="Sosyal ağlara eklemek için butonları kullan">Sosyal Ağlara Ekle:</h3> </td>
         <td width="257"><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.yasinyaman.com" title="Linkedin'e ekle"><img src="/static/images/linkedin_64x64.png" width="64" height="64" /></a><a href="http://www.google.com/bookmarks/mark?op=edit&amp;bkmk=http://www.yasinyaman.com" title="Google'a ekle"><img src="/static/images/google_64x64.png" width="64" height="64" /></a><a href="http://www.facebook.com/share.php?u=http://www.yasinyaman.com" title="Facebook'ta Paylaş"><img src="/static/images/facebook_64x64.png" width="64" height="64" /></a><a href="http://twitter.com/home?status=http://www.yasinyaman.com" title="Twitter'de yayınla"><img src="/static/images/twitter_64x64.png" width="64" height="64" /></a></td>
         </tr>
       </table>
   </center></td>
  </tr>
</table>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10798685-1");
pageTracker._trackPageview();
} catch(err) {}
</script>

</body>
</html>
